

<div class="container"> 
  <div class="card m-3 p-5">
    <h1>Weather</h1>
  
    <div class="row">
      <select [(ngModel)]="selectedCity"  style="max-width: 400px;" class="form-control custom-select custom-select-sm col">
        <option *ngFor="let city of cityList" [ngValue]="city">
          {{city.name}}
        </option>
      </select>
  
      <button (click)="fetchWeatherData()" 
          style="max-width: 150px;background-image: linear-gradient(to right,gray,darkgray);border-radius: 6px;color: black"
          class="form-control btn-lg btn-success m-2 col">
          ★Update★
      </button>
    </div>
  <div>
  
  <div *ngIf="weatherData" class="m-3" style="background-image: url(../assets/weather-background.png);background-size: auto">
    <div>
      <h1 class="m-3 p-3">{{weatherData.name}}</h1>
      <div class="row" >
        
        <img [src]="weatherIconUrl" class="col-3" />
        <div class="col">
          <div class="row">
            
            <h1>{{weatherData.main.temp}}°</h1>
            <h3>{{weatherData.weather[0].main}}</h3>
          </div>
        </div>
      </div>
      <div class="row  m-3 p-3" > 
        <h3 class="col">Humidity: {{weatherData.main.humidity}}</h3>
  
        <h3 class="col">Air Pressure: {{weatherData.main.pressure}}</h3>
      </div>
    </div>
  </div>
  
</div>